.container {
  max-width: 1280px;
  margin: 0 auto;
}

.headerWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header {
  background-color: #c2c2c2;
  text-align: center;
  padding: 16px;
}

.headerLogo {
  width: 32px;
  height: 32px;
  fill: #2f2f2f;
  will-change: filter;
  transition: filter 300ms;
}

.headerLogo:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .headerLogo {
    animation: logo-spin infinite 36s linear;
  }
}

.connectButton {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: space-evenly;
  width: 180px;
  height: 48px;
  background-color: rgb(51, 51, 51);
  color: rgb(218, 218, 218);
  border: none;
  transition: background-color 300ms linear;
  cursor: pointer;

  &:hover,
  &:focus {
    background-color: #000000;
    box-shadow: 4px 2px 16px #ffffff7a;
  }

  &:disabled {
    background-color: #959595;
    color: #f0eeee;
  }
}

.userAccountInfo {
  color: #000000;
  font-size: 16px;
}

.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main {
  flex: 1 1 auto;
  padding: 16px;
}

.footer {
  background-color: #c2c2c293;
  text-align: center;
  padding: 16px;
  margin-top: auto;
}

.link {
  color: inherit;
  font-weight: 500;
  text-transform: uppercase;
  transition: color 300ms linear, box-shadow 300ms linear;

  &:hover,
  &:focus {
    color: #000000;
    box-shadow: 4px 2px 16px #ffffff7a;
  }
}
