.payingForm {
  display: flex;
  flex-direction: column;
  padding: 16px;
  max-width: 480px;
  align-items: center;
  justify-content: center;
  margin: 32px auto;
  border: 1px solid gray;
  border-radius: 12px;
}

.label {
  position: relative;
  flex-direction: column;
  display: flex;
  width: 100%;

  margin-bottom: 28px;

  color: black;
  font-size: 16px;
  line-height: 1.14;
}

.input {
  padding: 14px;
  padding-left: 18px;
  margin-top: 8px;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;

  border: 1px solid grey;
  color: black;
  background-color: #fff;
  border-radius: 12px;

  &::placeholder {
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    font-family: 'Inter';
    color: grey;
  }

  &.isInvalid {
    border: 1px solid #dc3545;
  }
  &.isValid {
    border: 1px solid #3cbc81;
  }
}

.errorMessage {
  color: red;
  font-size: 14px;
  position: absolute;
  bottom: -20px;
  left: 18px;
}
